body {
    background-color: lightcyan;
}

h1 {
    color: navy;
}

h2 {
    color: navy;
}

h3 {
    color: navy;
}

p {
    color: blue;
}

li {
    color: blue;
}

header {
    background-color: navy;
}